<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Florida Crew Tracker </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="rower-detail-page">
    <div id="container">
        <header class="rower-header">
            <h1>{{ rower['First-name'] }} {{ rower['Last-name'] }}</h1>
        </header>
        
        <div class="rower-image">
            <img class="right" src="{{ url_for('static', filename='images/' + rower['Image']) }}" alt="Photo of {{ rower['First-name'] }} {{ rower['Last-name'] }}">
        </div>
        
        <section class="rower-details">
            <p>{{ rower['First-name'] }} {{ rower['Last-name'] }} is on the {{ rower['Team'] }} {{ rower['Level'] }} team. {{ rower['Pronouns'] }} recorded {{ workout_count }} workouts over the three-month period. Scroll down to check out each entry!</p>

        <div class="links">
            <p><a href="{{ url_for('index') }}" class="back-link">Return to the list to see all rowers.</a></p>
            <p><a href="{{ rower['FLCR-website'] }}" class="akc-link">View the official website for Florida Club Rowing.</a></p>
            <p><a href="{{ rower['Photo-credits'] }}" class="photo-credits-link">View photo credits for rowers' headshots.</a></p>
        </div>
            
            <h2>Workout Records: 1/13/25 to 3/13/25</h2>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Workout</th>
                        <th>Rate</th>
                        <th>Land/Water</th>
                        <th>Meters</th>
                        <th>Splits</th>
                        <th>Calories</th>
                        <th>Heart Rate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workout in workouts %}
                    <tr>
                        <td>{{ workout['Date'] }}</td>
                        <td>{{ workout['Workout'] }}</td>
                        <td>{{ workout['Rate'] }}</td>
                        <td>{{ workout['Land-or-water'] }}</td>
                        <td>{{ workout['Meters'] }}</td>
                        <td>{{ workout['Splits'] }}</td>
                        <td>{{ workout['Calories'] }}</td>
                        <td>{{ workout['Heart-rate'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            </section>

            <footer>
                <p>This is a final project for JOU4364: Advanced Web Apps with Professor McAdams created by Kai Johnsen. View the GitHub repo for this project <a href="https://github.com/kaijohnsen/rowing-tracker">here</a>.</p>
            </footer>
    
        </div> 

    </body>
    </html>
    